{% load static %}

<nav class="fixed top-0 w-full z-50 bg-white text-black px-8 py-4 flex items-center justify-between uppercase tracking-wide relative shadow-md">

  <ul class="flex gap-8 text-sm items-center absolute left-8">
    <li><a href="https://www.furia.gg/" class="hover:underline">Loja</a></li>
    <li><a href="https://www.youtube.com/@FURIAggCS" class="hover:underline">Conteúdo</a></li>
    <li><a href="https://www.furia.gg/quem-somos" class="hover:underline">Sobre</a></li>
  </ul>

  <a href="/" class="text-2xl font-black mx-auto">
    <img src="{% static 'images/logo-furia.svg' %}" alt="FURIA Logo" class="h-10">
  </a>

  <div class="flex gap-6 items-center text-xs absolute right-8">
    <a href="/login" class="bg-black text-white px-4 py-2 rounded hover:bg-gray-800 transition">Perfil</a>
  </div>
</nav>
