{% extends 'fans/base.html' %}
{% load static %}

{% block title %}Cadastro | Carteirinha Furiosa{% endblock %}

{% block content %}
<section class="min-h-screen bg-cover bg-center relative" style="background-image: url('{% static 'images/furia-torcida2.jpg' %}');">
  <!-- Overlay escuro para contraste -->
  <div class="absolute inset-0 bg-black bg-opacity-60"></div>

  <!-- Conteúdo acima da imagem -->
  <div class="relative z-10 flex flex-col justify-center items-center min-h-screen py-12 px-6">
    <div class="w-full max-w-2xl rounded-xl shadow-lg p-8 bg-white bg-opacity-95 backdrop-blur-md">
      <h2 class="text-3xl font-bold uppercase text-center text-black mb-8">Cadastro do Fã</h2>

      <form method="post" enctype="multipart/form-data" class="space-y-6">
        {% csrf_token %}
        <div>
          <label for="id_password">Senha</label>
          <input type="password" name="password" id="id_password" required>
        </div>
        {% for field in fan_form %}
          <div>
            <label>{{ field.label_tag }}</label>
            {{ field }}
            {% if field.errors %}
              <p>{{ field.errors }}</p>
            {% endif %}
          </div>
        {% endfor %}
        <button type="submit">Cadastrar</button>
      </form>
    </div>
  </div>
</section>
{% endblock %}
